* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

:root {
  font-size: 62.5%;
  --hue: 191;
  --background-color: #000000;
  --text-color: #e1e1e6;
  --border-color: #4a808c;
  --table-header-color: hsl(var(--hue), 72%, 13%);
  --table-dark-bg-color: hsla(var(--hue), 64%, 6%, 0.5);
  --table-light-bg-color: hsl(var(--hue), 65%, 7%);
}

header {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

#app {
  color: white;
  margin: 0 auto;
  padding: 2rem;
  max-width: 70rem;
}

/*Reutilizável. Screen Reader Only*/
.sr-only {
  position: absolute;
  width: 1px;
  height: 1px;
  padding: 0;
  margin: -1px;
  overflow: hidden;
  clip: rect(0, 0, 0, 0);
  white-space: nowrap;
  border-width: 0;
}

body {
  font-size: 1.6rem;
  background-color: wheat;
  color: var(--text-color);
  margin: 10vh 11vw;
  font-family: 'Roboto', sans-serif;
}

/* Table */

table {
  width: 100%;
  border-collapse: collapse;
}


header {
  margin-bottom: 5rem;
}

table th {
  text-align: left;
  padding: 1.2rem;
  font-size: 2rem;
  font-weight: 700;
  line-height: 3.2rem;
}

table th:first-child {
  border-top-left-radius: 0.5rem;
}

table th:last-child {
  border-top-right-radius: 0.5rem;
}

table tbody tr:last-child td:first-child {
  border-bottom-left-radius: .5rem;
}

table tbody tr:last-child td:last-child {
  border-bottom-right-radius: .5rem;
}

table td {
  margin: 2.8rem 4rem;
}

tbody img {
  width: 5.6rem;
}

table thead tr th {
  width: 3fr;
}

table thead tr th {
  background-color: var(--table-header-color);
}

table tbody tr:nth-child(odd) {
  background-color: var(--table-dark-bg-color);
}

table tbody tr:nth-child(even) {
  background-color: var(--table-light-bg-color);
}

table a {
  text-decoration: none;
  color: var(--text-color);
  font-weight: bold;
}
