* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

:root {
  font-size: 62.5%;
  --background-color: #000000;
  --text-color: #e1e1e6;
  --table-header-color: #092d38;
  --table-dark-bg-color: rgba(6, 22, 27, 0.5);
  --table-light-bg-color: #06181c;
}

main {
  color: white;
  margin: 0 auto;
}

body {
  font-size: 1.6rem;
  background-color: var(--background-color);
  color: var(--text-color);
  margin: 10vh 11vw;
}

header nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 1rem;
}

/* Table */

table {
  width: 100%;
  text-align: left;
}

table td {
margin: 2.8rem 4rem;
}


tbody img {
  width: 5.6rem;
}

table thead tr th {
  width: 3fr;
}

table thead tr th {
  background-color: var(--table-header-color);
}

table tbody tr:nth-child(odd) {
  background-color: var(--table-dark-bg-color);
}

table tbody tr:nth-child(even) {
  background-color: var(--table-light-bg-color);
}

table a {
  text-decoration: none;
  color: var(--text-color);
  font-weight: bold;
}
